/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.description {
	font-size: 10px;
	color: #505050;
}

.col-md-4 .price {
	font-size: 14px;
	font-weight: bold;
}

.cart {
	position:absolute; 
	width:200px; 
	right:10px; 
	background-color:beige; 
	padding:10px; 
	border:2px solid red;
	z-index: 9999;
}

.cart-panel {
	position:relative;
}

#cart-total {
	font-weight:bold; 
	text-align:right
}

#cart_detail_panel {
	display: none;    /*commented out for Homework*/
}